<div class="candidateHead">
  {{rank}}.
  <span class="candidateToken" style="color:{{color}}">{{token}}</span>
  ({{entropy}}, {{num sum}})
</div>
<div class="featureInfo" id="{{featureInfoId}}">
  {{featureInfo this}}
</div>
{{featureWeights featureWeights}}
